{% extends 'base.html' %}

{% block tittle %} {% endblock %}

{% block body %}
    <footer>
        <div class = "container-fluid">
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="https://www.facebook.com/donboscoargentina/" target="_blank"><img src="/static/images/facebookLogo.png" class="logoFooterAjuste"alt=""></a>
                    <a href="https://www.instagram.com/donboscoarg/" target="_blank"><img src="/static/images/instagramLogo.png" class="logoFooterAjuste"alt=""></a>
                    <a href="https://twitter.com/donboscoarg" target="_blank"><img src="/static/images/twitterLogo.png" class="logoFooterAjuste"alt=""></a>
                </div>
                <div class="col-md-4"><h4>Escuela Salesiana Don Bosco 2020 - Río Cuarto - KM30 - Tel. 0358 421-0075 - e-mail: gbaudino@donbosco.org.ar </h2>
                                <br>
                </div>
                <div class="col-md-4 col-lg-4"> <a href="https://www.donbosco.org.ar/" target="_blank"><img src="/static/images/salesianosLogo.png" alt=""></a></div>
            </div>
        </div>
        
    </footer>   
{% endblock %}