{% extends 'base.html' %}
{% include 'header.html'%}

{% block tittle %} Home {% endblock %}


{% block body %}
<div class="container">
  <div class="row">
    <div class="col md-12">
      <div class="jumbotron p-3">
        <div class='container-fluid'>
          <button type="button" class="btn btn-success float-right " data-toggle="modal" data-target="#mymodal">Añadir
            nuevo</button>
          <h2>Lista de <b>empleados</b> </h2>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success alert-dismissable container" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
              <span aria-hidden="true">x</span>
            </button>
            {{message}}
          </div>
        </div>

        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="table-responsive-sm">
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col"> ID </th>
                <th scope="col"> Nombre </th>
                <th scope="col"> E-mail </th>
                <th scope="col"> numero </th>
                <th scope="col"> Acciones </th>
              </tr>
            </thead>
            {% for rows in employes %}
            <tr>
              <td scope="row">{{rows.idemploye}}</td>
              <td scope="row">{{rows.name}}</td>
              <td scope="row">{{rows.email}}</td>
              <td scope="row">{{rows.phone}}</td>
              <td>
                <a href="/update/{{rows.idemploye}}" class="btn btn-warning btn-xs" data-toggle="modal"
                  data-target="#modaledit{{rows.idemploye}}"> Editar </a>
                <a href="/delete/{{rows.idemploye}}" class="btn btn-danger btn-xs"
                  onclick="return confirm('Are You Sure To Delete ?')"> Borrar </a>
              </td>
            </tr>
            {% include 'modaledit.html'%}
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

  </div>
  {% include 'modaladd.html'%}


  {% include 'footer.html'%}
  {% endblock %}